<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition>
    <aside class="main-sidebar">

        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">

            <!-- Sidebar user panel (optional) -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="${profileController.usuario.photo}" class="img-circle" alt="User Image"/>
                </div>
                <div class="pull-left info">
                    <p>${profileController.usuario.nombre}</p>
                    <a href="">
                        <i class="fa fa-circle text-success"></i>
                        Online
                    </a>
                </div>
            </div>

            <!-- search form (Optional) -->
            <form action="#" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="Search..."/>
                    <span class="input-group-btn">
              <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
              </button>
            </span>
                </div>
            </form>
            <!-- /.search form -->

            <!-- Sidebar Menu -->
            <ul class="sidebar-menu" data-widget="tree">
                <li class="header">MAIN NAVEGATION</li>
                <!-- Optionally, you can add icons to the links -->
                <li class="active"><a href="#{request.contextPath}/secure/dashboard/"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a></li>
                <li><a href="#{request.contextPath}/secure/add/gallo/"><i class="fa fa-paper-plane-o"></i> <span>Agregar Gallo</span></a></li>
                <li><a href="#{request.contextPath}/secure/analytics/"><i class="fa fa-bar-chart"></i> <span>Estadisticas</span></a></li>
                <li class="treeview">
                    <a href="#"><i class="fa fa-book"></i> <span>Configuracion</span>
                        <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
                    </a>
                    <ul class="treeview-menu">
			    <li><a href="#{request.contextPath}/secure/user/profile/">Perfil</a></li>
                    </ul>
                </li>
            </ul>
            <!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
    </aside>
</ui:composition>
</html>
