<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition>
        <!-- jQuery 3 -->
        <!--h:outputScript library="bower_components" name="jquery/dist/jquery.min.js"/-->
        <!--script src="resources/bower_components/jquery/dist/jquery.min.js"></script-->
        <!-- Bootstrap 3.3.7 -->
        <h:outputScript library="bower_components" name="bootstrap/dist/js/bootstrap.min.js"/>
        <!--script src="resources/bower_components/bootstrap/dist/js/bootstrap.min.js"></script-->
        <!-- AdminLTE App -->
        <h:outputScript library="dist" name="js/adminlte.min.js"/>
        <!--script src="resources/dist/js/adminlte.min.js"></script-->
</ui:composition>
</html>
