<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>GallerinApp</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <h:outputStylesheet library="bower_components" name="bootstrap/dist/css/bootstrap.min.css"/>
    <!--link rel="stylesheet" href="resources/bower_components/bootstrap/dist/css/bootstrap.min.css"-->
    <!-- Font Awesome -->
    <!--h:outputStylesheet library="bower_components" name="font-awesome/css/font-awesome.min.css"/-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <!-- Ionicons -->
    <h:outputStylesheet library="bower_components" name="Ionicons/css/ionicons.min.css"/>
    <!--link rel="stylesheet" href="resources/bower_components/Ionicons/css/ionicons.min.css"-->
    <!-- Theme style -->
    <h:outputStylesheet library="dist" name="css/AdminLTE.min.css"/>
    <!--link rel="stylesheet" href="resources/dist/css/AdminLTE.min.css"-->
    
    <h:outputStylesheet library="dist" name="css/skins/skin-blue.min.css"/>
    <!--link rel="stylesheet" href="resources/dist/css/skins/skin-blue.min.css"-->

    
    <script type="application/javascript" src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script type="application/javascript" src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic"/>
</ui:composition>
</html>
