<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
  <ui:include src="WEB-INF/templates/header.xhtml"/>
  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic"/>
</h:head>
<h:body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href="#"><b>Gallerin</b>App</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">iniciar session</p>

    <h:form>
        <span><p:messages id="msg" autoUpdate="true"/></span>
      <div class="form-group has-feedback">
        <p:inputText styleClass="form-control" placeholder="Username" value="${loginController.usuario.username}"/>

      </div>
      <div class="form-group has-feedback">
          <p:password styleClass="form-control" placeholder="Password" value="${loginController.usuario.password}"/>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label class="col-xs-offset-1">
              <input type="checkbox"/> Remember Me
            </label>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <p:commandButton class="btn btn-primary btn-block btn-flat" value="Entrar" action="${loginController.doLogin()}"/>
        </div>
        <!-- /.col -->
      </div>
    </h:form>
  </div>
  <!-- /.login-box-body -->
  <ui:include src="WEB-INF/templates/footer.xhtml"/>
</div>
</h:body>
</html>
