<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <ui:include src="../WEB-INF/templates/header.xhtml"/>
    <!--<h:outputScript library="bower_components" name="jquery/dist/jquery.min.js"/>-->
    <style type="text/css">
        .ui-inputfield{
            display: block;
            width: 100% !important;
        }
    </style>

    <f:view>
        <f:metadata>
            <f:viewAction action="#{agregarGalloController.init}"/>
        </f:metadata>
    </f:view>
</h:head>

<h:body styleClass="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
    <ui:include src="../WEB-INF/templates/topbar.xhtml"/>

    <ui:include src="../WEB-INF/templates/aside.xhtml"/>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Agregar animal
                <small>Agregar un animal nuevo a su lista</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="index.xhtml"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                <li class="active">add</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content container">
                    <h:form>
                        <p:messages autoUpdate="true" for="placa"/>
                    </h:form>
                    <div style="width: 95%">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Perfil</h3>
                        </div>
                        <!-- /.box-header -->
                        <h:form id="perfil-form">
                            <div class="box-body box-profile">
                                    <div class="form-group col-md-6">
                                        <h:outputLabel for="alias" value="Alias: "/>
                                        <p:inputText id="alias" value="#{agregarGalloController.gallo.alias}" styleClass="form-control">
                                        </p:inputText>
                                        <span class="help-block"><p:message display="text" for="alias"/></span>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <h:outputLabel for="nacimiento" value="Nacimiento: "/>
                                        <p:calendar id="nacimiento" pattern="yyyy-MM-dd" inputStyleClass="form-control"  value="#{agregarGalloController.gallo.nacimiento}"
                                                    validatorMessage="Seleccione una fecha valida" label="Fecha de nacimiento">
                                            <f:validateRequired/>
                                        </p:calendar>
                                        <span class="help-block"><p:message display="text" for="nacimiento"/></span>
                                    </div>                             
                                <div class="form-group col-md-6">
                                    <h:outputLabel for="tipo-placa" value="Tipo placa: "/>
                                    <p:selectOneMenu id="tipo-placa" styleClass="form-control" style="diplay: block; width: 100%"
                                                     value="${agregarGalloController.tipoPlaca.idTipoPlaca}">
                                        <f:selectItems value="#{agregarGalloController.tipoPlacas}" var="placa"
                                                       itemValue="${placa.idTipoPlaca}" itemLabel="${placa.color}"/>
                                        <p:ajax listener="#{agregarGalloController.onChangeTypePlaca}" update="no-placa"/>
                                    </p:selectOneMenu>
                                    <span class="help-block"><p:message display="text" for="tipo-placa"/></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <h:outputLabel for="no-placa" value="No. de Placa: "/>
                                    <p:inputText id="no-placa" value="#{agregarGalloController.gallo.placa}" styleClass="form-control">
                                        <f:validateRequired/>
                                        <f:validateLongRange minimum="0"/>
                                    </p:inputText>
                                    <span class="help-block"><p:message display="text" for="no-placa"/></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <h:outputLabel for="tipo-placa-padre" value="Padre: Color / No. Placa"/>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p:selectOneMenu id="tipo-placa-padre" styleClass="form-control" style="diplay: block; width: 100%"
                                                             value="${agregarGalloController.padre.tipoPlaca.idTipoPlaca}">
												<f:selectItem itemLabel="none"/>
                                                <f:selectItems value="#{agregarGalloController.tipoPlacas}" var="placa"
                                                               itemValue="${placa.idTipoPlaca}" itemLabel="${placa.color}"/>
                                                <p:ajax listener="${agregarGalloController.onChangeTipoPlacaPadre()}" update="padre"/>
                                            </p:selectOneMenu>
                                        </div>
                                        <div class="col-md-6">
                                            <p:selectOneMenu id="padre" styleClass="form-control" style="width: 100%"
                                                             value="${agregarGalloController.padre.idGallo}" validatorMessage="referencia a un padre invalida" label="Cod. Padre">
                                                <f:selectItems value="${agregarGalloController.gallosMacho}" var="machos"
                                                               itemValue="${machos.idGallo}" itemLabel="#{machos.placa}"/>  
                                            </p:selectOneMenu>
                                        </div>
                                    </div>
                                    <span class="help-block"><p:message display="text" for="padre"/></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <h:outputLabel for="tipo-placa-madre" value="Madre: Color / No. Placa"/>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p:selectOneMenu id="tipo-placa-madre" styleClass="form-control" style="diplay: block; width: 100%"
                                                             value="${agregarGalloController.madre.tipoPlaca.idTipoPlaca}">
                                                	 <f:selectItem itemLabel="none"/>
							 <f:selectItems value="#{agregarGalloController.tipoPlacas}" var="placa"
                                                               itemValue="${placa.idTipoPlaca}" itemLabel="${placa.color}"/>
                                                <p:ajax listener="#{agregarGalloController.onChangeTipoPlacaMadre}" update="madre"/>
                                            </p:selectOneMenu>
                                        </div>
                                        <div class="col-md-6">
                                            <p:selectOneMenu id="madre" styleClass="form-control" style="width: 100%"
                                                             value="${agregarGalloController.madre.idGallo}" validatorMessage="referencia a una madre invalida" label="Cod. Madre">
                                                <f:selectItems value="${agregarGalloController.gallosHembra}" var="madre"
                                                               itemValue="${madre.idGallo}" itemLabel="#{madre.placa}"/>
                                            </p:selectOneMenu>
                                        </div>
                                    </div>
                                    <span class="help-block"><p:message display="text" for="madre"/></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <h:outputLabel for="sexo" value="Sexo: "/>
                                    <p:selectOneMenu id="sexo" styleClass="form-control" style="diplay: block; width: 100%"
                                    value="${agregarGalloController.gallo.sexo}">
                                        <f:selectItem itemLabel="Macho" itemValue="M"/>
                                        <f:selectItem itemLabel="Hembra" itemValue="H"/>
                                        <f:validateRequired/>
                                    </p:selectOneMenu>
                                    <span class="help-block"><p:message display="text" for="sexo"/></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <h:outputLabel for="enrace" value="Enrace: "/>
                                    <p:selectOneMenu id="enrace" styleClass="form-control" style="diplay: block; width: 100%"
                                                     value="${agregarGalloController.enrace.idEnrace}">
                                        <f:selectItems value="${agregarGalloController.enraces}" var="enraces"
                                                       itemValue="${enraces.idEnrace}" itemLabel="${enraces.enrace}"/>
                                        <f:validateRequired/>
                                    </p:selectOneMenu>
                                    <span class="help-block"><p:message display="text" for="enrace"/></span>
                                </div>

                                <div class="form-group col-md-6">
                                    <h:outputLabel for="color" value="Color: "/>
                                    <p:selectOneMenu id="color" styleClass="form-control" style="diplay: block; width: 100%"
                                                     value="${agregarGalloController.color.idColor}">
                                        <f:selectItems value="${agregarGalloController.colorAlas}"
                                                       var="color" itemLabel="${color.color}" itemValue="${color.idColor}"/>
                                        <f:validateRequired/>
                                    </p:selectOneMenu>
                                    <span class="help-block"><p:message display="text" for="color"/></span>
                                </div>

                                <div class="form-group col-md-6">
                                    <h:outputLabel for="tipo-cresta" value="Tipo de cresta: "/>
                                    <p:selectOneMenu id="tipo-cresta" styleClass="form-control" style="diplay: block; width: 100%"
                                                     value="${agregarGalloController.tipoCresta.idTipoCresta}">
                                        <f:selectItems value="${agregarGalloController.tiposCresta}"
                                                       var="tipoCresta" itemLabel="#{tipoCresta.tipoCresta}" itemValue="#{tipoCresta.idTipoCresta}"/>
                                        <f:validateRequired/>
                                    </p:selectOneMenu>
                                    <span class="help-block"><p:message display="text" for="tipo-cresta"/></span>
                                </div>

                                <div class="form-group col-md-6">
                                    <h:outputLabel for="marca" value="Marca Distintiva: "/>
                                    <p:selectOneMenu id="marca" styleClass="form-control" style="diplay: block; width: 100%"
                                                     value="${agregarGalloController.marca.idMarca}">
                                        <f:selectItems value="${agregarGalloController.marcas}"
                                                       var="marcas" itemValue="${marcas.idMarca}" itemLabel="${marcas.marca}"/>
                                        <f:validateRequired/>
                                    </p:selectOneMenu>
                                    <span class="help-block"><p:message display="text" for="marca"/></span>
                                </div>

                                <div class="form-group col-md-6">
                                    <h:outputLabel for="estado" value="Estado: "/>
                                    <p:selectOneMenu id="estado" styleClass="form-control" style="diplay: block; width: 100%"
                                                     value="${agregarGalloController.estado.idEstado}">
                                        <f:selectItems value="${agregarGalloController.estados}"
                                                       var="estados" itemLabel="${estados.estado}" itemValue="${estados.idEstado}"/>
                                        <f:validateRequired/>
                                        <p:ajax listener="#{agregarGalloController.onFallecidoState()}" update="fallecimiento"/>
                                    </p:selectOneMenu>
                                    <span class="help-block"><p:message display="text" for="estado"/></span>
                                </div>

                                <div class="form-group col-md-6">
                                    <h:outputLabel for="comment" value="Comentario: "/>
                                    <p:inputTextarea id="comment" styleClass="form-control" value="${agregarGalloController.gallo.comment}">
                                    </p:inputTextarea>
                                    <span class="help-block"><p:message display="text" for="comment"/></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <h:outputLabel for="fallecimiento" value="Fallecimiento: "/>
                                    <p:calendar id="fallecimiento" pattern="yyyy-MM-dd" inputStyleClass="form-control"  value="#{agregarGalloController.gallo.fallecimiento}"
                                                validatorMessage="Seleccione una fecha valida" label="Fecha de fallecido" disabled="#{agregarGalloController.enable}">
                                        <f:validateRequired/>
                                    </p:calendar>
                                    <span class="help-block"><p:message display="text" for="fallecimiento"/></span>
                                 </div>  
                            </div>
                            <div class="box-footer">
                                <div class="row">
                                     <div class="form-group col-md-6">
                                        <p:commandButton value="Guardar" styleClass="btn-primary" action="${agregarGalloController.addGallo}" update="perfil-form"/>
                                    </div>
                                </div>
                            </div>
                        </h:form>
                    </div>
                    </div>
        </section>
        <ui:include src="../WEB-INF/templates/footer.xhtml"/>
    </div>
</div>
</h:body>

</html>
