<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
       xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<f:view>
    <f:metadata>
    	<f:viewParam name="id" value="#{editGalloController.galloId}"></f:viewParam>
   	 	<f:viewAction action="#{editGalloController.init}"/>
	</f:metadata>
</f:view>
<h:head>
    <ui:include src="../WEB-INF/templates/header.xhtml"/>
    <!--<h:outputScript library="bower_components" name="jquery/dist/jquery.min.js"/>-->
    <style type="text/css">
        .ui-inputfield{
            display: block;
            width: 100% !important;
        }
    </style>
</h:head>
<h:body styleClass="hold-transition skin-blue sidebar-mini">

<div class="wrapper">
    <ui:include src="../WEB-INF/templates/topbar.xhtml"/>

    <ui:include src="../WEB-INF/templates/aside.xhtml"/>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Vista y edicion
                <small>Ver detalles del animal</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="index.xhtml"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                <li class="active">view</li>
            </ol>
        </section>
        <!-- Main content -->
        <section class="content container">
                <div style="width: 95%">
                    <!-- general form elements -->
                    <div class="box box-danger">
                        <div class="box-header with-border">
                            <h3 class="box-title">Perfil</h3>
                        </div>
                        <!-- /.box-header -->
                        <h:form id="perfil-form">
                        	<p:messages id="msgs" autoUpdate="true" showIcon="true"/>
                        	
                            <div class="box-body box-profile">
                                <div class="form-group col-md-6">
                                    <h:outputLabel for="alias" value="Alias: "/>
                                    <p:inputText id="alias" value="#{editGalloController.gallo.alias}" styleClass="form-control">
                                    </p:inputText>
                                    <span class="help-block"><p:message display="text" for="alias"/></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <h:outputLabel for="nacimiento" value="Nacimiento: "/>
                                    <p:calendar id="nacimiento" pattern="yyyy-MM-dd" inputStyleClass="form-control"  value="#{editGalloController.gallo.nacimiento}"
                                                validatorMessage="Seleccione una fecha valida" label="Fecha de nacimiento">
                                        <f:validateRequired/>
                                    </p:calendar>
                                    <span class="help-block"><p:message display="text" for="nacimiento"/></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <h:outputLabel for="tipo-placa" value="Tipo placa: "/>
                                    <p:selectOneMenu id="tipo-placa" styleClass="form-control" style="diplay: block; width: 100%"
                                                     value="${editGalloController.tipoPlaca.idTipoPlaca}">
                                        <f:selectItems value="#{editGalloController.tipoPlacas}" var="placa"
                                                       itemValue="${placa.idTipoPlaca}" itemLabel="${placa.color}"/>
                                    </p:selectOneMenu>
                                    <span class="help-block"><p:message display="text" for="tipo-placa"/></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <h:outputLabel for="no-placa" value="No. de Placa: "/>
                                    <p:inputText id="no-placa" value="#{editGalloController.gallo.placa}" styleClass="form-control">
                                        <f:validateRequired/>
                                        <f:validateLongRange minimum="0"/>
                                    </p:inputText>
                                    <span class="help-block"><p:message display="text" for="no-placa"/></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <h:outputLabel for="tipo-placa-padre" value="Padre: Color / No. Placa"/>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p:selectOneMenu id="tipo-placa-padre" styleClass="form-control" style="diplay: block; width: 100%"
                                                             value="${editGalloController.padre.tipoPlaca.idTipoPlaca}">
                                                <f:selectItems value="#{editGalloController.tipoPlacas}" var="placa"
                                                               itemValue="${placa.idTipoPlaca}" itemLabel="${placa.color}"/>
                                                <p:ajax listener="${editGalloController.onChangeTipoPlacaPadre}" update="padre"/>
                                            </p:selectOneMenu>
                                        </div>
                                        <div class="col-md-6">
                                            <p:selectOneMenu id="padre" styleClass="form-control" style="width: 100%"
                                                             value="${editGalloController.padre.idGallo}" validatorMessage="referencia a un padre invalida" label="Cod. Padre">
                                                <f:selectItems value="${editGalloController.gallosMacho}" var="machos"
                                                               itemValue="${machos.idGallo}" itemLabel="#{machos.placa}"/>
                                            </p:selectOneMenu>
                                        </div>
                                    </div>
                                    <span class="help-block"><p:message display="text" for="padre"/></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <h:outputLabel for="tipo-placa-madre" value="Madre: Color / No. Placa"/>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <p:selectOneMenu id="tipo-placa-madre" styleClass="form-control" style="diplay: block; width: 100%"
                                                             value="${editGalloController.madre.tipoPlaca.idTipoPlaca}">
                                                <f:selectItems value="#{editGalloController.tipoPlacas}" var="placa"
                                                               itemValue="${placa.idTipoPlaca}" itemLabel="${placa.color}"/>
                                                <p:ajax listener="#{editGalloController.onChangeTipoPlacaMadre}" update="madre"/>
                                            </p:selectOneMenu>
                                        </div>
                                        <div class="col-md-6">
                                            <p:selectOneMenu id="madre" styleClass="form-control" style="width: 100%"
                                                             value="${editGalloController.madre.idGallo}" validatorMessage="referencia a una madre invalida" label="Cod. Madre">
                                                <f:selectItems value="${editGalloController.gallosHembra}" var="madre"
                                                               itemValue="${madre.idGallo}" itemLabel="#{madre.placa}"/>
                                            </p:selectOneMenu>
                                        </div>
                                    </div>
                                    <span class="help-block"><p:message display="text" for="madre"/></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <h:outputLabel for="sexo" value="Sexo: "/>
                                    <p:selectOneMenu id="sexo" styleClass="form-control" style="diplay: block; width: 100%"
                                                     value="${editGalloController.gallo.sexo}">
                                        <f:selectItem itemLabel="Macho" itemValue="M"/>
                                        <f:selectItem itemLabel="Hembra" itemValue="H"/>
                                        <f:validateRequired/>
                                    </p:selectOneMenu>
                                    <span class="help-block"><p:message display="text" for="sexo"/></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <h:outputLabel for="enrace" value="Enrace: "/>
                                    <p:selectOneMenu id="enrace" styleClass="form-control" style="diplay: block; width: 100%"
                                                     value="${editGalloController.enrace.idEnrace}">
                                        <f:selectItems value="${editGalloController.enraces}" var="enraces"
                                                       itemValue="${enraces.idEnrace}" itemLabel="${enraces.enrace}"/>
                                        <f:validateRequired/>
                                    </p:selectOneMenu>
                                    <span class="help-block"><p:message display="text" for="enrace"/></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <h:outputLabel for="color" value="Color: "/>
                                    <p:selectOneMenu id="color" styleClass="form-control" style="diplay: block; width: 100%"
                                                     value="${editGalloController.color.idColor}">
                                        <f:selectItems value="${editGalloController.colorAlas}"
                                                       var="color" itemLabel="${color.color}" itemValue="${color.idColor}"/>
                                        <f:validateRequired/>
                                    </p:selectOneMenu>
                                    <span class="help-block"><p:message display="text" for="color"/></span>
                                </div>

                                <div class="form-group col-md-6">
                                    <h:outputLabel for="tipo-cresta" value="Tipo de cresta: "/>
                                    <p:selectOneMenu id="tipo-cresta" styleClass="form-control" style="diplay: block; width: 100%"
                                                     value="${editGalloController.tipoCresta.idTipoCresta}">
                                        <f:selectItems value="${editGalloController.tiposCresta}"
                                                       var="tipoCresta" itemLabel="#{tipoCresta.tipoCresta}" itemValue="#{tipoCresta.idTipoCresta}"/>
                                        <f:validateRequired/>
                                    </p:selectOneMenu>
                                    <span class="help-block"><p:message display="text" for="tipo-cresta"/></span>
                                </div>

                                <div class="form-group col-md-6">
                                    <h:outputLabel for="marca" value="Marca Distintiva: "/>
                                    <p:selectOneMenu id="marca" styleClass="form-control" style="diplay: block; width: 100%"
                                                     value="${editGalloController.marca.idMarca}">
                                        <f:selectItems value="${editGalloController.marcas}"
                                                       var="marcas" itemValue="${marcas.idMarca}" itemLabel="${marcas.marca}"/>
                                        <f:validateRequired/>
                                    </p:selectOneMenu>
                                    <span class="help-block"><p:message display="text" for="marca"/></span>
                                </div>

                                <div class="form-group col-md-6">
                                    <h:outputLabel for="estado" value="Estado: "/>
                                    <p:selectOneMenu id="estado" styleClass="form-control" style="diplay: block; width: 100%"
                                                     value="${editGalloController.estado.idEstado}">
                                        <f:selectItems value="${editGalloController.estados}"
                                                       var="estados" itemLabel="${estados.estado}" itemValue="${estados.idEstado}"/>
                                        <f:validateRequired/>
                                        <p:ajax listener="#{editGalloController.onFallecidoState()}" update="fallecimiento"/>
                                    </p:selectOneMenu>
                                    <span class="help-block"><p:message display="text" for="estado"/></span>
                                </div>

                                <div class="form-group col-md-6">
                                    <h:outputLabel for="comment" value="Comentario: "/>
                                    <p:inputTextarea id="comment" styleClass="form-control" value="${editGalloController.gallo.comment}"/>
                                    <span class="help-block"><p:message display="text" for="comment"/></span>
                                </div>
                                <div class="form-group col-md-6">
                                    <h:outputLabel for="fallecimiento" value="Fallecimiento: "/>
                                    <p:calendar id="fallecimiento" pattern="yyyy-MM-dd" inputStyleClass="form-control"  value="#{editGalloController.gallo.fallecimiento}"
                                                validatorMessage="Seleccione una fecha valida" label="Fecha de fallecido" disabled="#{editGalloController.enable}">
                                        <f:validateRequired/>
                                    </p:calendar>
                                    <span class="help-block"><p:message display="text" for="fallecimiento"/></span>
                                </div>
                            </div>
                            <div class="box-footer">
                                <div class="row">
                                    <div class="form-group col-md-offset-8">
                                        <p:commandButton value="Editar" styleClass="btn-large btn-primary" action="${editGalloController.updateGallo}" update="perfil-form"/>
                                        <p:commandButton value="Eliminar" styleClass="btn-large btn-danger" onclick="$('#confirm').modal('show');" immediate="true"/>
                                    </div>
                                </div>
                            </div>
                        </h:form>
                    </div>
                </div>
        </section>
        <ui:include src="../WEB-INF/templates/footer.xhtml"/>
    </div>
</div>
    <h:form>
        <div class="modal fade" id="confirm" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Seguro desear borrar Este perfil?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Si borrar este perfil la informacion del mismo no podra recuperarse de nuevo
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>
                        <p:commandButton class="btn btn-danger" value="Eliminar" action="#{editGalloController.delete}"/>
                    </div>
                </div>
            </div>
        </div>
    </h:form>
</h:body>

</html>