<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <ui:include src="../WEB-INF/templates/header.xhtml"/>
    <h:outputScript library="bower_components" name="jquery/dist/jquery.min.js"/>
</h:head>
<f:view>
    <f:metadata>
   	 	<f:viewAction action="#{editGalloController.init}" onPostback="false"/>
	</f:metadata>
</f:view>
<h:body styleClass="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <ui:include src="../WEB-INF/templates/topbar.xhtml"/>

        <ui:include src="../WEB-INF/templates/aside.xhtml"/>
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Vista y edicion
                    <small>Ver detalles del animal</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="index.xhtml"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                    <li class="active">view</li>
                </ol>
            </section>

            <!-- Main content -->
            <section class="content container">

                <div class="row">
                    <!-- left column -->
                    <div class="col-lg-offset-2 col-md-8">
                        <!-- general form elements -->
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Perfil</h3>
                            </div>
                            <!-- /.box-header -->
                            <h:form id="perfil-form">
                                <div class="box-body box-profile">

                                </div>
                                <div class="box-footer">
                                    <div class="row">

                                    </div>
                                </div>
                            </h:form>
                        </div>

                    </div>
                </div>
            </section>
            <ui:include src="../WEB-INF/templates/footer.xhtml"/>
        </div>
    </div>
</h:body>

</html>