<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <ui:include src="../WEB-INF/templates/header.xhtml"/>
        <h:outputStylesheet library="dist" name="css/details.css"/>
    </h:head>
    <h:body styleClass="hold-transition skin-blue sidebar-mini">
        <div class="wrapper">
        <f:view>
            <f:metadata>
                <f:viewAction action="${gallosController.init()}" onPostback="true"/>
                <f:viewAction action="${profileController.init()}" onPostback="false"/>
            </f:metadata>
        </f:view>
        <ui:include src="../WEB-INF/templates/topbar.xhtml"/>
        <ui:include src="../WEB-INF/templates/aside.xhtml"/>
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <h1>
                    Dashboard
                    <small>Resumen de cuenta</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active">Dashboard</li>
                </ol>
            </div>
            <!-- Main content -->
            <div class="content container-fluid">
                <div class="row">
                    <div class="col-lg-4 col-xs-6">
                        <!-- small box -->
                        <div class="small-box bg-aqua">
                            <div class="inner">
                                <h3>#{gallosController.cantMachos}</h3>

                                <p>Machos vivos</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-mars"></i>
                            </div>
                            <a href="#" class="small-box-footer">
                                More info <i class="fa fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-4 col-xs-6">
                        <!-- small box -->
                        <div class="small-box bg-yellow">
                            <div class="inner">
                                <h3>#{gallosController.cantHembras}</h3>

                                <p>Hembras vivas</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-venus"></i>
                            </div>
                            <a href="#" class="small-box-footer">
                                More info <i class="fa fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-4 col-xs-6">
                        <!-- small box -->
                        <div class="small-box bg-red">
                            <div class="inner">
                                <h3>#{gallosController.cantFallecidos}</h3>

                                <p>Fallecidos</p>
                            </div>
                            <div class="icon">
                                <i class="fa fa-venus-mars"></i>
                            </div>
                            <a href="#" class="small-box-footer">
                                More info <i class="fa fa-arrow-circle-right"></i>
                            </a>
                        </div>
                    </div>
                    <!-- ./col -->
                </div>
                <!-- /.row -->
                <div class="box">
                    <div class="box-body">
                        <h:form id="gallotable">
                            <div class="table-responsive">
                            <p:dataTable var="gallos" value="${gallosController.gallosList}" rows="10"
                                         paginator="true" reflow="true"
                                         paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                         rowsPerPageTemplate="5,10,15,25,50,100"
                                         id="galloTable" widgetVar="galloTable" filteredValue="#{gallosController.gallosListFiltered}">

                              
                                <p:column headerText="Placa" filterBy="#{gallos.placa}" filterMatchMode="contains">
                                    <h:outputText value="#{gallos.placa}" /><span class="tipo-placa" style="background: #{gallos.tipoPlaca.hex}; margin-left: 60%"></span>
                                </p:column>

                                <p:column headerText="Alias" filterBy="#{gallos.alias}" filterMatchMode="contains">
                                    <h:outputText value="#{gallos.alias}" />
                                </p:column>

                                <p:column headerText="F. nacido" filterBy="#{gallos.nacimiento}">
                                    <h:outputText value="#{gallos.nacimiento}" />
                                </p:column>

                                <p:column headerText="Sexo" filterMatchMode="exact" filterBy="#{gallos.sexo}">
                                    <f:facet name="filter">
                                        <p:selectOneMenu onchange="PF('galloTable').filter()">
                                            <f:selectItem itemLabel="Todos" itemValue="#{null}" noSelectionOption="true" />
                                            <f:selectItem itemLabel="Macho" itemValue="M" />
                                            <f:selectItem itemLabel="Hembra" itemValue="H" />
                                        </p:selectOneMenu>
                                    </f:facet>
                                    <h:outputText value="#{gallosController.sexo(gallos.sexo)}" />
                                </p:column>

                                <p:column headerText="Padre" filterBy="#{gallos.gallosByIdPadre.placa}" filterMatchMode="contains">
                                    <h:outputText value='#{gallos.gallosByIdPadre.idGallo!=null?gallos.gallosByIdPadre.placa:"desconocido"}' /><span class="tipo-placa" style="background: #{gallos.gallosByIdPadre.tipoPlaca.hex}; margin-right:10px"></span>
                                </p:column>

                                <p:column headerText="Madre" filterBy="#{gallos.gallosByIdMadre.placa}" filterMatchMode="contains">
                                    <h:outputText value='#{gallos.gallosByIdMadre.idGallo!=null?gallos.gallosByIdMadre.placa:"desconocido"}' /><span class="tipo-placa" style="background: #{gallos.gallosByIdMadre.tipoPlaca.hex};margin-right:10px"></span>
                                </p:column>

                                <p:column headerText="Cresta" filterBy="#{gallos.tipoCresta.tipoCresta}" filterMatchMode="contains">
                                    <h:outputText value="#{gallos.tipoCresta.tipoCresta}" />
                                </p:column>

                                <p:column headerText="Color" filterBy="${gallos.colores.color}" filterMatchMode="contains">
                                    <h:outputText value="#{gallos.colores.color}" />
                                </p:column>

                                <p:column headerText="Estado" filterBy="${gallos.estados.estado}" filterMatchMode="contains">
                                    <h:outputText value="#{gallos.estados.estado}" />
                                </p:column>

                                <p:column headerText="Accion">
                                    <h:form>
                                        <p:button outcome="/secure/editGallo" value="" styleClass="btn-default fa fa-pencil">
                                            <f:param name="id" value="#{gallos.idGallo}"/>
                                        </p:button>
                                    </h:form>
                                </p:column>
                            </p:dataTable>
                            </div>
                        </h:form>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer">
                        <span>${gallosController.gallosList.size()} registros encontrados</span>
                        <span><p:button value="Agregar" outcome="/secure/addGallo.xhtml" styleClass="pull-right btn-primary"/></span>
                    </div>
                    <!-- /.box-footer-->
                </div>
                <!-- /.box -->
                <ui:include src="../WEB-INF/templates/footer.xhtml"/>
            </div>
            <!-- /.content -->
        </div>
        </div>
<!-- Modal -->
    </h:body>
</html>