<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <ui:include src="../WEB-INF/templates/header.xhtml"/>
</h:head>

<h:body styleClass="hold-transition skin-blue sidebar-mini">

    <div class="wrapper">
    <ui:include src="../WEB-INF/templates/topbar.xhtml"/>

    <ui:include src="../WEB-INF/templates/aside.xhtml"/>
    <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Configuracion
            <small>Informaciones y Configuraciones del usuario</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="index.xhtml"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Configuracion</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container">

    <div class="row">
        <!-- left column -->
        <div class="col-md-8">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Perfil</h3>
                </div>
                <!-- /.box-header -->
                    <h:form id="perfil-form" enctype="multipart/form-data">
                    <div class="box-body box-profile">
                        <p:messages id="msgs" autoUpdate="true"/>
                        <img class="profile-user-img img-responsive img-circle" src="${profileController.usuario.photo}" alt="User profile picture"/>
                        <h3 class="profile-username text-center">${profileController.usuario.username}</h3>
                        <div>
                            <div style=" margin-top: 20px; margin-bottom: 20px">
                                <div class="form-group">
                                    <b>Nombre</b>
                                    <p:inputText styleClass="form-control" style="diplay: block; width: 100%" value="${profileController.usuario.nombre}" required="true"/>
                                </div>
                                <div class="form-group">
                                    <b>Apellido</b>
                                    <p:inputText styleClass="form-control" style="diplay: block; width: 100%"  value="${profileController.usuario.apellido}" required="true"/>
                                </div>
                                <div class="form-group">
                                    <b>Foto</b>
                                    <b><p:fileUpload value="#{profileController.photo}"
                                                         style="margin-left: 10px"
                                    label="Select image" mode="simple" skinSimple="true"
                                                     allowTypes="/(\.|\/)(gif|jpe?g|png)$/" sizeLimit="10000000"/></b>
                                    <span>max size <b>1MB</b>, valid format <b>gif | jpeg | png</b></span>

                                </div>
                                <div class="form-group">
                                    <b>password</b>
                                    <p:password styleClass="form-control" style="diplay: block; width: 100%" value="${profileController.password}"/>
                                </div>

                                <div class="form-group">
                                    <b>Prefix</b>
                                    <p:outputLabel styleClass="form-control" style="diplay: block; width: 100%;margin-bottom: 5px" value="${profileController.usuario.prefix}" />
                                </div>

                                <div class="form-group">
                                    <b>email</b>
                                    <p:inputText styleClass="form-control" style="diplay: block; width: 100%"  value="${profileController.usuario.correo}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <div class="row">
                            <div class="col-md-6">
                                <p:commandButton update="perfil-form" styleClass="btn btn-primary btn-block" value="Guardar" action="#{profileController.updateProfile}" ajax="false"/>
                            </div>

                        </div>
                    </div>
                    </h:form>
            </div>

        </div>

        <div class="col-md-3">
            <!-- general form elements -->
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Actividad</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <p>Nacidos hoy</p>

                    <div class="progress">
                        <div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                        </div>
                    </div>
                    <p>Nacidos semana</p>

                    <div class="progress">
                        <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
                        </div>
                    </div>
                    <p>Nacidos mes</p>

                    <div class="progress">
                        <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                        </div>
                    </div>
                    <p>Padres</p>

                    <div class="progress">
                        <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>

        </div>
    </div>
    </section>
        <ui:include src="../WEB-INF/templates/footer.xhtml"/>
    </div>
    </div>
</h:body>

</html>
